* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Outfit' sans-serif;
  background-color: hsl(218, 44%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
  height: 550px;
  padding: 16px;
  border-radius: 1px;
  background-color: hsl(216, 15%, 48%);
  display: flex;
  align-items: center;
}

.content {
  text-align: center;
  width: 300px;
  height: 440px;
  border-radius: 15px;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 17.5em;
}

.content img {
  width: 290px;
  border-radius: 15px;
  margin-bottom: 0.75em;
  margin-left: -0.75em;
  margin-top: -0.75em;
  justify-content: center;
  justify-items: center;
  padding: 0.4em;
}

.content p {
  justify-content: center;
  width: 270px;
  padding: 0.4%;
  margin-bottom: 16px;
  margin-top: 12px;
  line-height: 1.4;
}

.content h3 {
  margin: bottom 20px;
}